<span style="color: rgb(0, 128, 0); background-color: yellow;">SELECT&nbsp;MOVIES RECORDS&nbsp; FROM DATASET/TABLES</span>

In [3]:
--SELECT MOVIES FROM DATABASE TABLE 
SELECT TOP (1000) [ID]
      ,[NAME]
      ,[RATING]
  FROM [DBO].[MOVIES];

ID,NAME,RATING
52,Drive,5
53,hero,4
54,Taxi,3
56,Who Killed her,2
57,MI5,5
58,MI6,4
63,Die Another Day,5
64,Sky Fall,4
65,FF8,5
66,FF6,4
67,Die Another Day 2,5
68,Sky Fall 2,4
69,FF9,3
70,MI3,3

<mark>FIND OUT MOVIES WHO HAVE MISSING A RATING OR HAVE 0 RATING</mark>

In [4]:
SELECT [ID]
      ,[NAME]
      ,[RATING]
  FROM [DBO].[MOVIES] WHERE RATING IS NULL OR RATING=0;

<mark>REPLACE MISSING RATING OR 0 RATING WITH AVERAGE RATING OR DEFAULT RATING</mark>

In [8]:
update dbo.movies set rating = (SELECT 
                                        avg([RATING])
                                  FROM [DBO].[MOVIES] 
                                  WHERE RATING IS not NULL OR RATING>0)
 where RATING IS NULL OR RATING=0;

In [ ]:
update dbo.movies set rating = (SELECT 
                                        avg([RATING])
                                  FROM [DBO].[MOVIES] 
                                  WHERE RATING IS not NULL OR RATING>0)
 where RATING IS NULL OR RATING=0;

<mark></mark><mark>DISTINCT MOVIES</mark>

In [ ]:
SELECT DISTINCT [ID]
      ,[NAME]
      ,[RATING]
FROM [DBO].[MOVIEs]

ID,NAME,RATING
47,Die Another Day,5
48,Sky Fall,4
49,Die Another Day,5
50,Sky Fall,4
51,Taxi,3
52,Drive,5
53,hero,4
54,Taxi,3
55,Who Killed her,2
56,Who Killed her,2
57,MI5,5
58,MI6,4
59,Die Another Day,5
60,Sky Fall,4
61,Die Another Day,5
62,Sky Fall,4
63,Die Another Day,5
64,Sky Fall,4
65,FF8,5
66,FF6,4
67,Die Another Day 2,5
68,Sky Fall 2,4
69,FF9,3
70,MI3,3

<mark>MOVIE WHO HAVE RATING  AS 3 OR MORE THAN 3</mark>

In [ ]:

SELECT 
[NAME],
RATING
FROM [DBO].[MOVIES] 
GROUP BY NAME,RATING
HAVING RATING >3

<mark>FIND OUT REOCRD WITH COUNT  - NUMBER OF TIME APPEARS INTO DATASET</mark>

In [4]:
SELECT NAME,
       RATING,
       COUNT(*) AS [HOW MANY TIME COMES]
FROM 
    [DBO].[MOVIES]
GROUP BY 
    NAME,
   RATING;

NAME,RATING,HOW MANY TIME COMES
Who Killed her,2,2
FF9,3,1
MI3,3,1
Taxi,3,2
FF6,4,1
hero,4,1
MI6,4,1
Sky Fall,4,5
Sky Fall 2,4,1
Die Another Day,5,5
Die Another Day 2,5,1
Drive,5,1
FF8,5,1
MI5,5,1

<mark>FIND OUT DUPLICATE RECORDS</mark>

In [5]:
SELECT 
   NAME,
   RATING,
   COUNT(*) AS [HOW MANY TIME COME]
FROM 
    [DBO].[MOVIES]
GROUP BY 
   NAME,
   RATING
   HAVING COUNT(*) >1

NAME,RATING,HOW MANY TIME COME
Who Killed her,2,2
Taxi,3,2
Sky Fall,4,5
Die Another Day,5,5

<mark>DUPLICATE RECORDS SELECTION</mark>

In [6]:
SELECT *
FROM [DBO].[MOVIES]
WHERE  NAME IN
					( SELECT 
					NAME
				FROM 
					[DBO].[MOVIES]
				GROUP BY 
					NAME,
				   RATING
				   HAVING COUNT(*) >1
					)
ORDER BY NAME,RATING;

id,name,rating
63,Die Another Day,5
61,Die Another Day,5
59,Die Another Day,5
47,Die Another Day,5
49,Die Another Day,5
64,Sky Fall,4
48,Sky Fall,4
50,Sky Fall,4
60,Sky Fall,4
62,Sky Fall,4
51,Taxi,3
54,Taxi,3
55,Who Killed her,2
56,Who Killed her,2

<mark>ANALYTICS FUNCTION</mark>

In [7]:
SELECT M.*,
    COUNT(*) OVER (PARTITION BY NAME,RATING) 
FROM [DBO].[MOVIES] M;

-- ABOVE QUERY CAN BE DONE SUING ANALYTICS FUNCTION
SELECT 
    * FROM
        (SELECT M.*,
              COUNT(*) OVER (PARTITION BY NAME,RATING) C
        FROM [DBO].[MOVIES] M
        ) AS C
WHERE C > 1;

id,name,rating,(No column name)
23,Die Another Day,5,5
25,Die Another Day,5,5
35,Die Another Day,5,5
37,Die Another Day,5,5
39,Die Another Day,5,5
43,Die Another Day 2,5,1
28,Drive,5,1
42,FF6,4,1
46,FF8,3,1
41,FF8,5,1
29,hero,4,1
33,MI5,5,1
34,MI6,4,1
45,MI7,3,1
36,Sky Fall,4,5
40,Sky Fall,4,5
38,Sky Fall,4,5
26,Sky Fall,4,5
24,Sky Fall,4,5
44,Sky Fall 2,4,1
27,Taxi,3,2
30,Taxi,3,2
31,Who Killed her,2,2
32,Who Killed her,2,2

id,name,rating,C
23,Die Another Day,5,5
25,Die Another Day,5,5
35,Die Another Day,5,5
37,Die Another Day,5,5
39,Die Another Day,5,5
36,Sky Fall,4,5
40,Sky Fall,4,5
38,Sky Fall,4,5
26,Sky Fall,4,5
24,Sky Fall,4,5
27,Taxi,3,2
30,Taxi,3,2
31,Who Killed her,2,2
32,Who Killed her,2,2

<mark>SELECT RECORD IDS WHO HAVE DUPLICATE RECORD</mark>

In [9]:
SELECT
  MAX(ID)
FROM
  DBO.MOVIES
GROUP BY
  NAME,
  RATING
ORDER BY
  MAX(ID);

(No column name)
28
29
30
32
33
34
39
40
41
42
43
44
45
46

 <mark>REMOVE DUPLICATE RECORD.ONLY KEEPING LATEST INSERTED ONE</mark>

In [ ]:
DELETE FROM
  DBO.MOVIES
WHERE
  ID NOT IN
  (
    SELECT
      MAX(ID)
    FROM
      DBO.MOVIES
    GROUP BY
      NAME,
      RATING
  );

In [1]:
--CREATE TABLE MOVIEDB1
CREATE TABLE MOVIEDB1 (ID INT , NAME VARCHAR(100),RATING DECIMAL);

--INSERT VALUE INTO TABLE MOVIEDB1

INSERT INTO MOVIEDB1 VALUES(1,'DIE ANOTHER DAY',5.0); 
INSERT INTO MOVIEDB1 VALUES(2,'SKY FALL',4.0); 

INSERT INTO MOVIEDB1 VALUES(3,'TAXI',0.0); 
INSERT INTO MOVIEDB1 VALUES(4,'WHO KILLED HER',2.0); 

INSERT INTO MOVIEDB1 VALUES(5,'MI5',5.0); 
INSERT INTO MOVIEDB1 VALUES(6,'MI6',4.0); 

INSERT INTO MOVIEDB1 VALUES(7,'DRIVE',5.0); 
INSERT INTO MOVIEDB1 VALUES(8,'HERO',4.0); 

INSERT INTO MOVIEDB1 VALUES(9,'BABY DRIVE',''); 
INSERT INTO MOVIEDB1 VALUES(10,'',4.0); 

INSERT INTO MOVIEDB1 VALUES(11,'DIE ANOTHER DAY 2',5.0); 
INSERT INTO MOVIEDB1 VALUES(12,'SKY FALL 2',4.0); 

INSERT INTO MOVIEDB1 VALUES(13,'FF8',5.0); 
INSERT INTO MOVIEDB1 VALUES(14,'FF6',4.0); 

-- SELECT FROM TABLE MOVIEDB1
SELECT * FROM MOVIEDB1;

---------- REMOVE TABLE -----------
--DROP TABLE  MOVIEDB1

: Msg 8114, Level 16, State 5, Line 18
Error converting data type varchar to numeric.

In [2]:
-- SELECT FROM TABLE MOVIEDB1
SELECT * FROM MOVIEDB1;

ID,NAME,RATING
1,DIE ANOTHER DAY,5
2,SKY FALL,4
3,TAXI,0
4,WHO KILLED HER,2
5,MI5,5
6,MI6,4
7,DRIVE,5
8,HERO,4