<mark></mark><mark>Table creation and data insertion</mark>

<span style="color: rgb(0, 128, 0); background-color: yellow;">SELECT&nbsp;MOVIES RECORDS&nbsp; FROM DATASET/TABLES</span>

In [15]:

  CREATE TABLE Movie(
    id INT IDENTITY(1,1) PRIMARY KEY,
    name VARCHAR(200) NOT NULL,
    rating int NULL
);

: Msg 2714, Level 16, State 6, Line 2
There is already an object named 'Movie' in the database.

In [ ]:
-------------------------
select * from [dbo].Movie
----------------------
insert into [dbo].[Movie](name,rating) values('FF9',NULL);
insert into [dbo].[Movie](name,rating) values('MI3',NULL);

insert into [dbo].[Movie](name,rating) values('FF6',0);
insert into [dbo].[Movie](name,rating) values('MI2',0);

insert into [dbo].[Movie](name,rating) VALUES('DIE ANOTHER DAY',5.0); 
insert into [dbo].[Movie](name,rating) VALUES('SKY FALL',4.0); 

insert into [dbo].[Movie](name,rating) VALUES('TAXI',0.0); 
insert into [dbo].[Movie](name,rating) VALUES('WHO KILLED HER',2.0); 

insert into [dbo].[Movie](name,rating) VALUES('MI5',5.0); 
insert into [dbo].[Movie](name,rating) VALUES('MI6',4.0); 

insert into [dbo].[Movie](name,rating) VALUES('DIE ANOTHER DAY',5.0); 
insert into [dbo].[Movie](name,rating) VALUES('SKY FALL',4.0); 

insert into [dbo].[Movie](name,rating) VALUES('DRIVE',5.0); 
insert into [dbo].[Movie](name,rating) VALUES('HERO',4.0); 

insert into [dbo].[Movie](name,rating) VALUES('BABY DRIVE',''); 

insert into [dbo].[Movie](name,rating) VALUES('DIE ANOTHER DAY 2',5.0); 
insert into [dbo].[Movie](name,rating) VALUES('SKY FALL 2',4.0); 

insert into [dbo].[Movie](name,rating) VALUES('FF8',5.0); 
insert into [dbo].[Movie](name,rating) VALUES('FF6',4.0); 
insert into [dbo].[Movie](name,rating) VALUES('DRIVE',5.0); 
insert into [dbo].[Movie](name,rating) VALUES('HERO',4.0);

In [18]:
--SELECT MOVIES FROM DATABASE TABLE 
SELECT TOP (1000) [ID]
      ,[NAME]
      ,[RATING]
  FROM [DBO].[MOVIE];

ID,NAME,RATING
18,FF9,NULL
19,MI3,NULL
20,FF6,0
21,MI2,0
22,DIE ANOTHER DAY,5
23,SKY FALL,4
24,TAXI,0
25,WHO KILLED HER,2
26,MI5,5
27,MI6,4
28,DIE ANOTHER DAY,5
29,SKY FALL,4
30,DRIVE,5
31,HERO,4
32,BABY DRIVE,0
33,DIE ANOTHER DAY 2,5
34,SKY FALL 2,4
35,FF8,5
36,FF6,4
37,DRIVE,5
38,HERO,4

<mark>FIND OUT MOVIES WHO HAVE MISSING A RATING OR HAVE 0 RATING</mark>

In [19]:
SELECT [ID]
      ,[NAME]
      ,[RATING]
  FROM [DBO].[MOVIE] WHERE RATING IS NULL OR RATING=0;

: Query failed: The operation was canceled.

<mark>REPLACE MISSING RATING OR 0 RATING WITH AVERAGE RATING OR DEFAULT RATING</mark>

In [20]:
update dbo.movie set rating = (SELECT 
                                        avg([RATING])
                                  FROM [DBO].[MOVIE] 
                                  WHERE RATING IS not NULL OR RATING>0)
 where RATING IS NULL OR RATING=0;

<mark>MOVIE WHO HAVE RATING  AS 3 OR MORE THAN 3</mark>

In [22]:

SELECT 
[NAME],
RATING
FROM [DBO].[MOVIE] 
GROUP BY NAME,RATING
HAVING RATING >3

NAME,RATING
DIE ANOTHER DAY,5
DIE ANOTHER DAY 2,5
DRIVE,5
FF6,4
FF8,5
HERO,4
MI5,5
MI6,4
SKY FALL,4
SKY FALL 2,4

<mark>FIND OUT REOCRD WITH COUNT  - NUMBER OF TIME APPEARS INTO DATASET</mark>

In [23]:
SELECT NAME,
       RATING,
       COUNT(*) AS [HOW MANY TIME COMES]
FROM 
    [DBO].[MOVIE]
GROUP BY 
    NAME,
   RATING;

NAME,RATING,HOW MANY TIME COMES
WHO KILLED HER,2,1
BABY DRIVE,3,1
FF6,3,1
FF9,3,1
MI2,3,1
MI3,3,1
TAXI,3,1
FF6,4,1
HERO,4,2
MI6,4,1
SKY FALL,4,2
SKY FALL 2,4,1
DIE ANOTHER DAY,5,2
DIE ANOTHER DAY 2,5,1
DRIVE,5,2
FF8,5,1
MI5,5,1

<mark>FIND OUT DUPLICATE RECORDS</mark>

In [24]:
SELECT 
   NAME,
   RATING,
   COUNT(*) AS [HOW MANY TIME COME]
FROM 
    [DBO].[MOVIE]
GROUP BY 
   NAME,
   RATING
   HAVING COUNT(*) >1

NAME,RATING,HOW MANY TIME COME
HERO,4,2
SKY FALL,4,2
DIE ANOTHER DAY,5,2
DRIVE,5,2

<mark>DUPLICATE RECORDS SELECTION</mark>

In [26]:
SELECT *
FROM [DBO].[MOVIE]
WHERE  NAME IN
					( SELECT 
					NAME
				FROM 
					[DBO].[MOVIE]
				GROUP BY 
					NAME,
				   RATING
				   HAVING COUNT(*) >1
					)
ORDER BY NAME,RATING;

id,name,rating
22,DIE ANOTHER DAY,5
28,DIE ANOTHER DAY,5
37,DRIVE,5
30,DRIVE,5
31,HERO,4
38,HERO,4
29,SKY FALL,4
23,SKY FALL,4

<mark>SELECT RECORD ALL RECORDS WITH LATEST IDS</mark>

In [28]:
SELECT
  MAX(ID)
FROM
  DBO.MOVIE
GROUP BY
  NAME,
  RATING
ORDER BY
  MAX(ID);

(No column name)
18
19
20
21
24
25
26
27
28
29
32
33
34
35
36
37
38

 <mark>REMOVE DUPLICATE RECORD.ONLY KEEPING LATEST INSERTED ONE</mark>

In [29]:
DELETE FROM
  DBO.MOVIE
WHERE
  ID NOT IN
  (
    SELECT
      MAX(ID)
    FROM
      DBO.MOVIE
    GROUP BY
      NAME,
      RATING
  );

In [30]:
select *  FROM
  DBO.MOVIE

id,name,rating
18,FF9,3
19,MI3,3
20,FF6,3
21,MI2,3
24,TAXI,3
25,WHO KILLED HER,2
26,MI5,5
27,MI6,4
28,DIE ANOTHER DAY,5
29,SKY FALL,4
32,BABY DRIVE,3
33,DIE ANOTHER DAY 2,5
34,SKY FALL 2,4
35,FF8,5
36,FF6,4
37,DRIVE,5
38,HERO,4